@page
@model TrainingWebbApp.Pages.GoalsModel
@{
}

<!--<div class="container">
  <div class="row">
    <div class="col-sm-12" style="background-color:black;">
      <h1>My Goals</h1>
    </div>
    <div class="col-sm-12" style="background-color:black;">
      <h1>Team Goals</h1>
    </div>
  </div>
</div> -->

<div class="text-center">
    <h5> My progress</h5>
</div>

<div class="progress" style="height:20px">
  <div class="progress-bar" style="width:40%;height:20px">40%</div>
</div>

<div class="text-center">
    <h5> Team progress</h5>
</div>

<div class="progress" style="height:20px">
  <div class="progress-bar" style="width:70%;height:20px">70%</div>
</div> 