@page
@model TrainingWebbApp.Pages.LoginModel
@{
}

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="User">User</a></li>
  <li>Login</li>
</ul>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Animated Login Form</title>
        <link rel="stylesheet" href="site.css">
    </head>
    <body class="test">
<form class="box" action="UserProfile">
    <h1>Login</h1>
    <input type="text" name="" placeholder="Username">
    <input type="password" name="" placeholder="Password">
    <input type="submit" name="" value="Login">

</form>

    </body>
</html>