@page
@model TrainingWebbApp.Pages.TeamModel
@{
}

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>Team</li>
</ul>

<div class="text-center">
    <h2 class="display-4">My Team</h2>
</div>

<img src="https://cdn0.iconfinder.com/data/icons/avatars-6/500/Avatar_boy_man_people_account_boss_client_hat_santa-256.png" alt="Avatar">

<img src="https://cdn0.iconfinder.com/data/icons/avatars-6/500/Avatar_account_client_male_person_user_beautiful_girl_woman_5-256.png" alt="Avatar">

<img src="https://cdn0.iconfinder.com/data/icons/avatars-6/500/Avatar_boy_man_people_account_client_male_person_user_work_sport_beard_team-256.png" alt="Avatar">

<img src="https://cdn0.iconfinder.com/data/icons/avatars-6/500/Avatar_boy_glasses_man_people-256.png" alt="Avatar">

<div>
    <h4>Invite to Team?</h4>
</div>

<div class="chip">
  <img src="https://cdn0.iconfinder.com/data/icons/avatars-6/500/Avatar_boy_man_people_account_boss_client_beard_male_person_user-512.png" alt="Person" width="96" height="96">
  Alex Sdogos
  <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
</div>

<div class="chip">
  <img src="https://icon-library.net/images/profile-icon/profile-icon-4.jpg" alt="Person" width="96" height="96">
  Rebecka Svensson
  <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
</div>

<div class="chip">
  <img src="https://cdn0.iconfinder.com/data/icons/avatars-6/500/Avatar_boy_man_people_account_boss_client_male_person_user_work-512.png" alt="Person" width="96" height="96">
  Fredrik Eliasson
  <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
</div>

<div style="float:right;">
  <!-- Load icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- The form -->
  <form class="example" action="action_page.php">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-user-plus"></i></button>
  </form>
</div>