@page
@model TrainingWebbApp.Pages.UserProfileModel
@{
}

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="User">User</a></li>
  <li>My Profile</li>
</ul>


<div>
    <h2 class="display-4">My Profile</h2>
</div>

<div class="text-center" style="float:left;">
    <h5> Name: &nbsp; Ellen </h5>
    <h5> Username: &nbsp; ellen26 </h5>
    <h5> Email: &nbsp; ellen.sdogos@hotmail.com </h5>
</div>

<div class="text-center" style="float:right;">
    <h5> Age: &nbsp; 21 </h5>
    <h5> Length: &nbsp; 172 cm </h5>
    <h5> Weight: &nbsp; 56 kg </h5>
</div>