@page
@model TrainingWebbApp.Pages.UserModel
@{

}
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>User</li>
</ul>

<form class="box" asp-page="/UserProfile">
    <h1>Create your account</h1>
    <input type="text" name="" placeholder="Username">
    <input type="text" name="" placeholder="Email">
    <input type="password" name="" placeholder="Password">
    <input type="submit" name="" value="Sign-up">
    <a href="Login">If you already have an account - Press to Login </a>
</form>