@page
@model TrainingWebbApp.Pages.WorkoutModel
@{
}

<!--<button class="btn"><i class="fa fa-bars"></i> &nbsp; Workouts</button> -->

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>Workouts</li>
</ul>

<div class="dropdown">
  <button class="btn-a" type="button" data-toggle="dropdown">
  <span class="fa fa-bars"></span> &nbsp; Register Workouts</button>
  <ul class="dropdown-menu">
    <li><a href="#">Running</a></li>
    <li><a href="#">Biking </a></li>
    <li><a href="#">Swimming</a></li>
    <li><a href="#">Walking</a></li>
  </ul>
</div>