a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: white;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  height: 60px;
  line-height: 60px;
}

p{
  color: black;
  padding-bottom: 1em;
}
h1{
  color: black;
  font-variant: small-caps;
  padding-bottom: 1em;
  padding-top: 3em;
  font-weight: 100;
}
h2{
  color: black;
  font-variant: small-caps;
  padding-bottom: 0em;
  padding-top: 0em;
  font-weight: 100;
}
h3{
  padding-top: 0em;
  padding-bottom: 1em;
  color: black;
}
h4{
  font-size: large;
  color: black;
  padding-top: 3em;
}
h5{
  padding-top: 1em;
  font-weight: 100;
  font-size: xx-large;
  text-align: left;
  padding-bottom: 1em;
  color: black;
}
h6{
  padding-top: 3em;
  font-size: xx-large;
  text-align: left;
  color: black;
}
li{
  color: black;
}

/*Icon navbar */
.icon-bar {
  width: 90px; 
  height: 70px;
  padding: 0;
  background-color: #555;
}

.icon-bar {
  width: 100%;
  background-color: black;
  overflow: auto;
}
/* Text in the navbar */
.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

/* Register form */
* {box-sizing: border-box;}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

/* Breadcrumb */

ul.breadcrumb {
  list-style: none;
  background-color: white;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* Person chips */
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}

img {
  border-radius: 50%;
}

/* Search field */
* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* Style buttons */
.btn-a {
  background-color: black; 
  border: none; 
  color: white; 
  padding: 12px 16px; 
  padding-top: 1em;
  font-size: 40px; 
  font-weight: 300;
  cursor: pointer; 
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

/*Dropdown-menu for workouts*/
.dropdown-menu{
  width: 100%;
  text-align: center;
  background-color: rgba(26, 24, 24, 0.664);
  font-size: 30px;
  padding-top: 1em;
  padding-bottom: 5em;
  line-height: 50pt;
}

.dropdown-menu a{
  color: white;
}

.dropdown button{
    font-variant: small-caps;
}

/* Login form */
test{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
}
test2{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
}
.box{
  width: 400px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  text-align: center;
  height: 520px;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  padding: 20px;
}
.box input[type = "text"],.box input[type = "password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
.button [type = "goal"]{
  background-color: dodgerblue;
  color: black;
}